### Processing and combining all the weather datas

In [1]:
import pandas as pd
import pickle

In [2]:
#get a list of all of the ickle files in the current directory
!ls *.pkl

Essex_weather_clean.pkl     erie_weather_clean.pkl
Jefferson_weather_clean.pkl fulton_weather_clean.pkl
Nassau_weather_clean.pkl    monroe_weather_clean.pkl
albany_weather_clean.pkl    onondaga_weather_clean.pkl
broome_weather_clean.pkl    orange_weather_clean.pkl
clinton_weather_clean.pkl   suffolk_weather_clean.pkl
dutchess_weather_clean.pkl

In [4]:
df_list = !ls *.pkl

#combines all of the dataframes together
dfs = []
for file in df_list:
    with open(file, 'rb') as picklefile: 
        df = pickle.load(picklefile)
        print(df.shape)
        dfs.append(df)
df_main = pd.concat(dfs, ignore_index=True)
print("shape of final dataframe is", df_main.shape)

(893, 9)
(881, 9)
(916, 9)
(904, 9)
(904, 9)
(890, 9)
(905, 9)
(916, 9)
(902, 9)
(915, 9)
(915, 9)
(902, 9)
(912, 9)
shape of final dataframe is (11755, 9)

In [4]:
df_main.head(5)

,WEATHER_DESC,DATE_TIME_PROCESSED,T_HIGH_F,T_LOW_F,HUMIDITY_%,BAROMETER_HG,WIND_DIRECTION,WIND_MPH,County_join
0,Passing clouds.,2016-05-26,66.0,63.0,66.0,30.05,SSE,4.971,ERIE
1,Clear.,2016-05-25,61.0,57.0,48.0,30.01,S,6.836,ERIE
2,Clear.,2016-05-24,57.0,55.0,73.0,29.98,SW,8.700,ERIE
3,Clear.,2016-05-23,55.0,48.0,83.0,29.99,S,3.728,ERIE
4,Passing clouds.,2016-05-22,54.0,54.0,82.0,29.92,SSW,6.214,ERIE

In [5]:
df_main['County_join'].value_counts()

ERIE         916
NASSAU       916
MONROE       915
ONONDAGA     915
SUFFOLK      912
DUTCHESS     905
BROOME       904
ALBANY       904
FULTON       902
ORANGE       902
ESSEX        893
CLINTON      890
JEFFERSON    881
Name: County_join, dtype: int64

In [6]:
df_main[df_main['County_join'] == "SUFFOLK"].head(4)

,WEATHER_DESC,DATE_TIME_PROCESSED,T_HIGH_F,T_LOW_F,HUMIDITY_%,BAROMETER_HG,WIND_DIRECTION,WIND_MPH,County_join
9463,Clear.,2016-05-26,66.0,57.0,80.0,30.06,N,0.621,SUFFOLK
9464,Fog.,2016-05-25,54.0,50.0,98.0,30.00,ENE,0.621,SUFFOLK
9465,Light rain. Fog.,2016-05-24,59.0,55.0,88.0,29.86,WNW,5.593,SUFFOLK
9466,Clear.,2016-05-23,54.0,48.0,92.0,29.90,N,0.000,SUFFOLK

In [6]:
df_main.to_csv('../../weather.csv', header=True, index=False)